/* import font*/

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
;

/* Shared Styles */

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    
}


/* Header styles */

header {
    border: 2px solid red;
    max-width: 1920px;
    margin: 0px auto;
    

}

/* navbar design*/
nav {
    justify-content: space-between;
    border: 2px solid purple;
    padding: 40px 240px;
    display: flex;
   
    align-items: center;
    
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-title {
    font-size: 3rem;
    font-weight: 700;
}

.logo-title span {
    color: rgba(255, 66, 165, 1);
}

.nav-rightSide{
    display: flex;
    align-items: center;
    color: #3C354F;
    font-size: 1.125em;
    font-weight: 500;
   
    gap: 35px;

}

.nav-rightSide a {
    text-decoration: none;
}

.follow-us{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px;
    gap: 18px;

}


























